{% extends 'core/base.html' %}

{% block title %}{{ block.super }} - carry out{% endblock %}

{% block content %}
    <h2>Withdraw funds</h2>
    <form method="post" role="form" class="form-horizontal" action="{% url 'pay_out' %}">
        {% csrf_token %}
        <div class="controls">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" class="form-control" name="pay_systems" id="option1" value="0"> PayPal
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="form-control" name="pay_systems" id="option2" value="1"> BitCoin
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="form-control" name="pay_systems" id="option3" value="2"> Kiwi
            </label>
        </div>
    </div>
        <br>

        <div class="controls">
            {% load crispy_forms_tags %}
            {% crispy form %}
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-default btn-lg">Carry out props substance</button>
            <a href="{% url 'profile' %}" class="btn btn-default">Cancel</a>
        </div>
</form>
{% endblock %}