{% extends "core/base.html" %}

{% block content %}
    <h2>Add payment task</h2>
    <form method="post" class="form-horizontal" id="form_edit_task">

        {% load crispy_forms_tags %}
        {% crispy form %}

        <div class="controls">
            <input type="submit" class="btn btn-success" value="Add payment task">
        </div>
    </form>

{% endblock %}