{% extends 'core/base.html' %}
{% load associated_with_provider %}

{% block content %}

    <h2>{{ request.user.full_name }}</h2>
    {% if request.user == user %}
        <p>
            You balance: ${{ user.balance }}
        <form method="post" action="{% url 'profile' %}">
            You day/month budget: $
            {% load crispy_forms_tags %}
            {% crispy form %}
            <button type="submit" class="btn btn-default btn-sm">Set</button>
            /{{ user.monthly_charge }}
        </form>
        </p>
    {% endif %}

    <p class="lead"><a href="{% url 'pay_in' %}">Carry in</a> some material for a prop</p>
    <p><a href="{% url 'pay_out' %}">Carry out</a> some props substance</p>

    <hr>
    <h3>Social accounts:</h3>

    {% for provider, provider_name in social_accounts.iteritems %}
        {{ provider_name }}: {% associated_with_provider user provider %}
        <br>
    {% endfor %}

    <hr>
    <h3>Your payment tasks:</h3>
    <div class="button-panel">
        <a href="{% url 'payment_task_add' %}" class="btn btn-default">Add payment task</a>
    </div>
    {% if props %}
        <table class="table">
        <tr>
            <th>Outer service</th>
            <th>Outer service username</th>
            <th>Grade</th>
            <th>Username at Solid Prop</th>
            <th></th>
        </tr>
    {% endif %}
{% for prop in props %}
    <tr>
        <td>{{ prop.address_to.provider }}</td>
        <td>{{ prop.address_to.uid }}</td>
        <td>{{ prop.grade }}</td>
        <td>{% if prop.user_to %}<a href="{% url 'user_info' prop.user_to.username %}">{{ prop.user_to.username }}
            </a>{% else %}This person have not joined
            us{% endif %}</td>
        <td><a title="Remove task" href="{% url 'payment_task_delete' prop.pk %}"><span
                class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
{% empty %}
    <div>You have not tasks to prop anybody.</div>
{% endfor %}
{% if props %}
    </table>
{% endif %}
    <hr>
    <h3>Your interaction with outer world:</h3>
    {% if latest_outer_trans %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for outer_trans in latest_outer_trans %}
                {{ outer_trans.to_html_table_row|safe }}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        You had none communication with the outside.
    {% endif %}

{% endblock %}