{% extends 'core/base.html' %}
{% load associated_with_provider %}

{% block title %}{{ block.super }} - info about user {{ user.username }}{% endblock %}

{% block content %}

    <h2>{{ user.full_name }}</h2>

    <p class="lead">Makes a solid prop in amount of {{ user.daily_charge }} a day</p>
    <small>({{ user.monthly_charge }} per month)</small>
    <p>Receives daily {{ user.daily_receives }}</p>
    <hr>
    <h3>Social accounts:</h3>

    {% for provider, provider_name in social_accounts.iteritems %}
        {{ provider_name }}: {% associated_with_provider user provider %}
        <br>
    {% endfor %}

    <hr>

    <h3>Respects with props:</h3>
    {% if favourites %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Comment</th>
                <th>Grade</th>
                <th>Prop</th>
            </tr>
            </thead>
            <tbody>
            {% for ptask in favourites %}
                {{ ptask.to_html_table_row|safe }}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Either there is no props or they are hidden.</p>
    {% endif %}

{% endblock %}