{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>{% block title %}Solid Prop{% endblock %}</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "style.css" %}" rel="stylesheet">
    {% block css %}{% endblock %}


    <!--[if lt IE 9]>
      <script src="{% static "bootstrap/assets/js/html5shiv.js" %}"></script>
      <script src="{% static "bootstrap/assets/js/respond.min.js" %}"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Solid Prop</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">{{ request.user.full_name }}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="container pagebody">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </div>

    <footer class="panel-footer">

        &copy; Solid Prop, {% now "Y" %}
    </footer>


</div>


<script src="{% static "jquery/jquery.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% block javascript %}{% endblock %}

</body>
</html>
