{% extends 'core/base.html' %}
{% load humanize %}

{% block title %}{{ block.super }} - Prop the people/projects you want!{% endblock %}

{% block content %}
<p class="lead text-center">Be a solid prop to people that do great things!</p>

<div class="col-md-4">
    <h2>The most solid props makers:</h2>
    {% if top_givers %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Daily charge</th>
            <th>Monthly charge</th>
        </tr>
    </thead>
    <tbody>
    {% for user in top_givers %}
        <tr><td><a href="{{ user.get_absolute_url }}">{{ user.full_name }}</a></td><td>{{ user.daily_charge }}</td><td>{{ user.monthly_charge }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        There are no users making props yet.
    {% endif %}
</div>

<div class="col-md-4">
    <h2>The most steady propped:</h2>
    {% if top_receivers %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Average grade taken</th>
        </tr>
    </thead>
    <tbody>
    {% for user in top_receivers %}
        <tr><td><a href="{{ user.get_absolute_url }}">{{ user.full_name }}</a></td><td>{{ user.avg_rcv_grade }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        There are no users receiving props yet.
    {% endif %}
</div>

<div class="col-md-4">
    <h2>The newcomers:</h2>
    {% if fresh_users %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Daily charge</th>
            <th>Time with us</th>
        </tr>
    </thead>
    <tbody>
    {% for user in fresh_users %}
        <tr><td><a href="{{ user.get_absolute_url }}">{{ user.full_name }}</a></td><td>{{ user.daily_charge }}</td><td>{{ user.date_joined|naturaltime }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        There are no users at all! Very strange...
    {% endif %}
</div>

{% endblock %}