{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

    <h3>Login with:</h3>
    {% for id, name in social_accounts.iteritems %}
        <a href="{% url 'socialauth_begin' id %}{% if next %}?next={{ next }}{% endif %}" title="{{ name }}">
            <img src="{% static "images/login/" %}{{ id }}.png">
        </a>
    {% endfor %}


{% endblock %}