body {
    background: url('images/background.jpg');
    margin-top: 20px;
}

.pagebody {
    background: url('images/background2.jpg');
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
}

.btn-default {
    background: url('images/background-btn.jpg');
    color: #ffffff;
}

.table {
    background: url('images/background-table.jpg');
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: url('images/background-table2.jpg');
}

.btn-default:hover {
    background: url('images/background-btn.jpg');
    color: #ffffff;
    border: 1px solid #3d4167;
}

footer {
    border-radius: 4px;
}

.button-panel {
    margin-bottom: 20px;
}